.footer-bar {
  width: 100%;
  background: transparent;
  border-top: 1px solid #e5e7eb;
  color: #6b7280;
  text-align: center;
  padding: 25px 0; /* 👈 antes 8px */
  font-size: 0.9rem;
  font-weight: 400;
  margin-top: auto;
}


.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}
